<!DOCTYPE html>
<html>

<!--Header-->

<head>
    <!--Tab name-->
    <title>Love Phuket</title>

    <!--API Google map-->
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!--Ref Font and CSS style-->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!--All BG Page-->
    <div class="container bg">

        <!--Navigator bar at Top-->
        <div class="menu">
            <!--Left logo icon-->
            <div class="logo">
                <a href=""><i class="fa-solid fa-plane"></i></a>
            </div>
            <!--Right menu page link-->
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Trip</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <!--Map-->
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 7.878978, lng: 98.398392 },
                    zoom: 8
                });
            }
        </script>
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc1JjOS1TsFXCpiafRcsd9w5HcLT7qgGo&callback=initMap"
            async defer>
            </script>

        <!--Content body-->
        <div class="content">

            <!--Left lorem-->
            <div class="header">
                <h3><i class="fa-solid fa-location-dot"></i>Thailand</h3>
                <h1>PHU</h1>
                <h1>KET</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. At, ea, deleniti perferendis architecto
                    sint,
                    placeat tenetur similique quasi blanditiis itaque soluta accusantium? Maxime laborum magni tempora
                    consectetur similique aliquid quaerat.</p>
                <button>Book Now!</button>

            </div>

            <!--Right card grid-->
            <div class="-grid-card">
                <!--Each card-->
                <div class="box bg1">
                    <h2>Mountain</h2>
                </div>
                <div class="box bg2">
                    <h2>Beach</h2>
                </div>
                <div class="box bg3">
                    <h2>Island</h2>
                </div>
                <div class="box bg4">
                    <h2>Waterfall</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>