* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

* a {
    text-decoration: none;
}

* li {
    list-style: none;
}

.container {
    position:absolute;
    width: 100%;
    min-height: 100vh;
}

.bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1534008897995-27a23e859048?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
}

.menu {
    position: relative;
    width: 70%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.logo a {
    font-size: 2rem;
    color: aliceblue;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 0 17px;
}

.menu ul li a {
    font-weight: bold;
    color: aliceblue;
    font-size: 14px;
}

/*content*/
.content {
    width: 70%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.content .header,
.-grid-card {
    width: 35%;
    position: relative;
}

.content .header {
    color: aliceblue;
    padding: 20px;
}

.content .header h3 {
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.content .header h3 i {
    color: red;
}

.content .header h1 {
    font-size: 5rem;
}

.content .header p {
    opacity: .6;
}

.-grid-card {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
}

.-grid-card .box {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 25px;
    transition: 0.4s;
}

.bg1 {
    background-image: url('https://media.istockphoto.com/id/1495888893/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%A1%E0%B8%B8%E0%B8%A1%E0%B8%A1%E0%B8%AD%E0%B8%87%E0%B8%97%E0%B8%B2%E0%B8%87%E0%B8%AD%E0%B8%B2%E0%B8%81%E0%B8%B2%E0%B8%A8%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%AA%E0%B8%A7%E0%B8%A2%E0%B8%87%E0%B8%B2%E0%B8%A1%E0%B8%82%E0%B8%AD%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%B7%E0%B8%AD%E0%B8%81%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%AB%E0%B8%B4%E0%B8%99%E0%B8%A0%E0%B8%B9%E0%B9%80%E0%B8%82%E0%B8%B2%E0%B8%84%E0%B8%B4%E0%B8%99%E0%B8%B2%E0%B8%9A%E0%B8%B2%E0%B8%A5%E0%B8%B9.jpg?s=612x612&w=0&k=20&c=ctY51QmJtW5jMy1r8lqVChUQ4QfJhN25ZhwQ5vxOGZc=');
}

.bg2 {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?q=80&w=2946&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.bg3 {
    background-image: url('https://plus.unsplash.com/premium_photo-1675670729118-87739043fa19?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.bg4 {
    background-image: url('https://images.unsplash.com/photo-1519582149095-fe7d19b2a3d2?q=80&w=2809&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.content .box h2 {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: aliceblue;
}

.content .box:hover {
    transform: translateY(-15px);
}

.header button {
    border: solid 1px aliceblue;
    background: none;
    color: aliceblue;
    font-size: 2.5rem;
    padding: 5px 15px;
    margin: 15px 0px;
    cursor: pointer;
}

.header button:hover {
    background: aliceblue;
    color: black;
}

#map {
    height: 60%;
    width: 25%;
    position:relative;
    top: 35%;
    left: 80%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
